# ignore build directories
/build
/build_windows*
# ignore VS and VS code data directories
/.vs
/.vscode
# ignore builds directory (from Visual Studio?)
/builds
# ignore output directory from Visual Studio
/out
# ignore NuGet packages directory
/packages
